# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
#*.jpg
#*.jpeg
#*.png
#*.bmp
#*.tif
#*.tiff
#*.heic
#*.JPG
#*.JPEG
#*.PNG
#*.BMP
#*.TIF
#*.TIFF
#*.HEIC
#*.mp4
#*.mov
#.MOV
#*.avi
#*.data
#*.json
#*.cfg
!setup.cfg
!cfg/yolov3*.cfg

000000.JPG
000001.JPG
000002.JPG
000003.JPG
000004.JPG
000005.JPG
000006.JPG
000007.JPG
000008.JPG
000009.JPG
000010.JPG
000011.JPG
000012.JPG
000013.JPG
000014.JPG
000015.JPG
000016.JPG
000017.JPG
000018.JPG
000019.JPG
000020.JPG
000021.JPG
000022.JPG
000023.JPG
000024.JPG
000025.JPG
000026.JPG
000027.JPG
000028.JPG
000029.JPG
000030.JPG
000031.JPG
000032.JPG
000033.JPG
000034.JPG
000035.JPG
000036.JPG
000037.JPG
000038.JPG
000039.JPG
000040.JPG
000041.JPG
000042.JPG
000043.JPG
000044.JPG
000045.JPG
000046.JPG
000047.JPG
000048.JPG
000049.JPG
000050.JPG
000051.JPG
000052.JPG
000053.JPG
000054.JPG
000057.JPG
000058.JPG
000059.JPG
000060.JPG
000061.JPG
000062.JPG
000063.JPG
000064.JPG
000065.JPG
000066.JPG
000067.JPG
000068.JPG
000069.JPG
000070.JPG
000071.JPG
000072.JPG
000073.JPG
000074.JPG
000075.JPG
000076.JPG
000077.JPG
000078.JPG
000079.JPG
000080.JPG
000081.JPG
000082.JPG
000083.JPG
000084.JPG
000085.JPG
000086.JPG
000087.JPG
000088.JPG
000089.JPG
000090.JPG
000091.JPG
000092.JPG
000093.JPG
000094.JPG
000095.JPG
000096.JPG
000097.JPG
000098.JPG
000099.JPG
000100.JPG


000101.JPG
000102.JPG
000103.JPG
000104.JPG
000105.JPG
000106.JPG
000107.JPG
000108.JPG
000109.JPG
000110.JPG
000111.JPG
000112.JPG
000113.JPG
000114.JPG
000115.JPG
000116.JPG
000117.JPG
000118.JPG
000119.JPG
000120.JPG
000121.JPG
000122.JPG
000123.JPG
000124.JPG
000125.JPG
000126.JPG
000127.JPG
000128.JPG
000129.JPG
000130.JPG
000131.JPG
000132.JPG
000133.JPG
000134.JPG
000135.JPG
000136.JPG
000137.JPG
000138.JPG
000139.JPG
000140.JPG
000141.JPG
000142.JPG
000143.JPG
000147.JPG
000148.JPG
000149.JPG
000150.JPG
000151.JPG
000152.JPG
000153.JPG
000154.JPG
000155.JPG
000156.JPG
000157.JPG
000158.JPG
000159.JPG
000160.JPG
000161.JPG
000162.JPG
000163.JPG
000164.JPG
000165.JPG
000166.JPG
000167.JPG
000168.JPG
000176.JPG
000180.JPG
000181.JPG
000182.JPG
000183.JPG
000184.JPG
000185.JPG
000186.JPG
000187.JPG
000188.JPG
000189.JPG
000190.JPG
000191.JPG
000192.JPG
000193.JPG
000194.JPG
000195.JPG
000196.JPG
000197.JPG
000198.JPG
000199.JPG
000200.JPG
000202.JPG
000203.JPG
000204.JPG
000205.JPG
000206.JPG
000207.JPG
000208.JPG
000209.JPG
000210.JPG
000211.JPG
000212.JPG
000213.JPG
000214.JPG
000215.JPG
000219.JPG
000220.JPG
000221.JPG
000224.JPG
000225.JPG
000226.JPG
000227.JPG
000228.JPG
000229.JPG
000230.JPG
000231.JPG
000232.JPG
000233.JPG
000234.JPG
000235.JPG
000236.JPG
000237.JPG
000238.JPG
000239.JPG
000240.JPG
000241.JPG
000242.JPG
000243.JPG
000244.JPG
000245.JPG
000246.JPG
000247.JPG
000248.JPG
000249.JPG
000250.JPG
000251.JPG
000252.JPG
000253.JPG
000254.JPG
000255.JPG
000256.JPG
000257.JPG
000258.JPG
000259.JPG
000260.JPG
000261.JPG
000262.JPG
000263.JPG
000264.JPG
000265.JPG
000266.JPG
000267.JPG
000268.JPG
000269.JPG
000270.JPG
000271.JPG
000272.JPG
000273.JPG
000274.JPG
000275.JPG
000276.JPG
000277.JPG
000278.JPG
000279.JPG
000280.JPG
000281.JPG
000282.JPG
000283.JPG
000284.JPG
000285.JPG
000286.JPG
000287.JPG
000288.JPG
000289.JPG
000290.JPG
000291.JPG
000292.JPG
000293.JPG
000294.JPG
000295.JPG
000296.JPG
000297.JPG
000298.JPG
000299.JPG

storage.googleapis.com
runs/*
data/*
data/images/*
!data/*.yaml
!data/hyps
!data/scripts
!data/images
!data/images/zidane.jpg
!data/images/bus.jpg
!data/*.sh

results*.csv

# Datasets -------------------------------------------------------------------------------------------------------------
coco/
coco128/
VOC/

# MATLAB GitIgnore -----------------------------------------------------------------------------------------------------
*.m~
*.mat
!targets*.mat

# Neural Network weights -----------------------------------------------------------------------------------------------
*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.torchscript
*.tflite
*.h5
*_saved_model/
*_web_model/
*_openvino_model/
darknet53.conv.74
yolov3-tiny.conv.15

# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
/wandb/
.installed.cfg
*.egg


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv*
venv*/
ENV*/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/


# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore -----------------------------------------------

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
Icon?

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.html  # Bokeh Plots
.pg  # TensorFlow Frozen Graphs
.avi # videos

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
